{% extends "common/base.html" %}
{% load static %}



{% block subheader_content %}
<a href="{% url 'equipment:index' %}">Look over our toys.</a>
{% endblock %}



{% block main_content %}
<div class="row">
    {% for obj in equipment %}
    <div class="col-md-4 gallery-entry">
        <h3>{{ obj.name }}</h3>
        <img class="thumbnail" src="{{ obj.thumbnail.url }}" alt="{{ obj.name }} Thumbnail"/>
        <div class="caption">
            {{ obj.short_desc }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
