{% load staticfiles %}



<!DOCTYPE html>
<html>



<head>
    <!-- Properties -->
    <title>{% block title %}Molds America LLC{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

    <!-- Bootstrap stuff -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom stuff -->
    <link rel="stylesheet" type="text/css" href="{% static 'common/style.css' %}">
    {% block additional_resources %}{% endblock %}
</head>



<body>

    {% include 'common/includes/navbar.html' %}



    {# To remove subheader, overwrite subheader. #}
    <div class="page-header">
        <div class="container">
            <h2>{% block subheader_content %}{% endblock %}</h2>
        </div>
    </div>



    {% block content %}
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-4 pull-right">
                    {% block sidebar %}{% endblock %}
                </div>
                <div class="col-md-8">
                    {% block main_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>



</html>
