{% load staticfiles %}

<!DOCTYPE html>
<html>



  <head>
    <title>{% block title %}Molds America LLC{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

    <link rel="stylesheet" type="text/css" href="{% static 'common/style.css' %}">
    {% block aditional_stylesheets %}{% endblock %}

    <script type="text/javascript" src="{% static 'common/mobile_menu.js' %}"></script>
    {% block additional_scripts %}{% endblock %}
  </head>



  <body>

    <header>
      <a class="logo noselect" href="{% url 'home:index' %}">Molds America LLC</a>
      <a class="menu-button" type="button" onclick="toggleMenu()"></a>
      <nav class="nav-menu mobile-menu-inactive">
        {% for item in nav_item_list %}
          {% url item.reference_url_name as item_url %}
          {% if item_url in request.path %}
            <a class="active" href="{{ item_url }}">{{ item.display_text }}</a>
          {% else %}
            <a href="{{ item_url }}">{{ item.display_text }}</a>
          {% endif %}
        {% endfor %}
      </nav>
    </header>



    {# To remove subheader, overwrite subheader. #}
    {% block subheader %}
    <div class="subheader">
      {% block subheader_content %}{% endblock %}
    </div>
    {% endblock %}


    {% block content %}
    <div class="content">
      <div class="sidebar">
        {% block sidebar %}{% endblock %}
      </div>
      <div class="main-content">
        {% block main_content %}{% endblock %}
      </div>
    </div>
    {% endblock %}

  </body>



</html>
