/**
* Table of contents.
*
* - Resets.
* - Font imports.
* - Color and font styling.
* - Header structure and positioning (mobile first).
* - Subheader structure and positioning (mobile first).
* - Sections structure and positioning (NEEDS MOBILE FIRST).
* - Miscellaneous functions.
*/


/* Resets.
-----------------------------------------------------------------------------------*/
* {
  color: inherit;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}





/* Font imports.
-----------------------------------------------------------------------------------*/
@font-face {
font-family: 'Hallo Sans Black';
src:
    local('Hallo sans black'),
    url('fonts/hallo_sans/Hallo_sans_black.otf');
}
@font-face {
font-family: 'Open Sans';
src:
    local('Open Sans'),
    local('OpenSans-Regular'),
    url('fonts/open_sans/OpenSans-Regular.ttf');
}





/* Color and font styling.
-----------------------------------------------------------------------------------*/
body {
  background-color: #EEE5FB;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
h1 {
  color: #431F73;
  font-size: 28px;
  font-weight: bold;
}
h2 {
  color: #431F73;
  font-size: 24px;
  font-weight: bold;
}
h3 {
  color: #431F73;
  font-size: 20px;
  font-weight: bold;
}
a {
  color: #431F73;
}
a:hover {
  color: #AD85E6;
}
.main-content a {
  text-decoration: underline;
}

/* Header items. */
header {
  background-color: #4B2D73;
}
.logo,
.logo:hover {
  color: white;
  font-family: 'Hallo Sans Black';
  font-size: 30px;
}
.nav-menu a {
  color: white;
  font-weight: bold;
}
.nav-menu a:hover {
  color: #E0CFF6;
}
.nav-menu a:active {
  color: #AA89D6;
}
.nav-menu .active, .nav-menu .active:hover, .nav-menu .active:active {
  color: #AA89D6;
}
.mobile-menu-active a {
  border-top-color: #774AB2;
}
/* End header items. */

.subheader,
.subheader *,
.subheader *:hover,
.subheader *:active {
  background-color: #8A6BB3;
  color: white;
  font-weight: normal;
  font-size: 28px;
}
.main-content {
  color: #06010D;
}
.sidebar {
  background-color: #E0CFF6;
}





/* Header structure and positioning (mobile first).
-----------------------------------------------------------------------------------*/
header {
  align-items: center;
  display: -webkit-flex;  /* For compatability. */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.logo {
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.nav-menu {
  display: none;  /* Hide nav-menu by default. */
  padding-right: 5px;
  padding-left: 5px;
  width: 100%;
}
.nav-menu a {
  border-top-style: solid;
  border-top-width: 1px;
  display: block;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-top: 10px;
}
.menu-button {
  background-color: transparent;
  background-image: url(images/menu-icon.png);
  background-position: center center;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  border: none;
  float: right;
  margin-right: 15px;
  outline: 0px;
  padding: 5px;
  height: 25px;
  width: 25px;
}
.menu-button:active {
  background-image: url(images/menu-icon-pressed.png);
}

/* For toggling the nav-menu (mobile only). */
.mobile-menu-inactive {
  display: none;
}
.mobile-menu-active {
  display: block;
}

/* Desktop. */
@media screen and (min-width: 925px) {
    header {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    .logo {
      margin-left: 30px;
    }
    .nav-menu {
      display: block;
      margin-right: 10px;
      width: auto;
    }
    .nav-menu a {
      border-style: none;
      display: inline-block;
      padding: 8px;
    }
    .menu-button {
      display: none;  /* Hide menu button on desktop. */
    }
}





/* Subheader structure and positioning (mobile first).
-----------------------------------------------------------------------------------*/
.subheader {
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  width: 100%;
}
.subheader * {
  display: inline-block;
}
.subheader small {
  font-size: 14px;
  font-style: italic;
}

/* Desktop. */
@media screen and (min-width: 925px) {
    .subheader {
      padding-left: 40px;
    }
}





/* Sections structure and positioning (NEEDS MOBILE FIRST).
-----------------------------------------------------------------------------------*/
.stacked-section-category {
  padding-bottom: 35px;
}
.stacked-section-no-thumnail {
  padding-bottom: 20px;
  padding-top: 20px;
}
.child-section {
  padding-left: 12px;
}





/* Page content structure and positioning.
-----------------------------------------------------------------------------------*/
.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: 100%;
}
.sidebar {
  box-sizing: border-box;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-top: 10px;
  width: 100%;
}
.main-content {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  margin: 0px;
  width: 100%;
}

/* Desktop. */
@media screen and (min-width: 925px) {
    .sidebar {
      padding-left: 30px;
      padding-top: 30px;
      width: 30%;
    }
    .main-content {
      padding-left: 40px;
      width: 70%
    }
}





/* Miscellaneous functions.
-----------------------------------------------------------------------------------*/

/* Disable text selection (for logo). */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
