/* Font imports.
-----------------------------------------------------------------------------------*/
@font-face {
font-family: 'Hallo Sans Black';
src:
    local('Hallo sans black'),
    url('fonts/hallo_sans/Hallo_sans_black.otf');
}
@font-face {
font-family: 'Open Sans';
src:
    local('Open Sans'),
    local('OpenSans-Regular'),
    url('fonts/open_sans/OpenSans-Regular.ttf');
}





/* Color and font styling.
-----------------------------------------------------------------------------------*/
body {
  font-family: 'Open Sans', sans-serif;
}





/* Miscellaneous functions.
-----------------------------------------------------------------------------------*/

/* Disable text selection (for logo). */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
