{% extends "common/base.html" %}
{% load static %}



{% block subheader_content %}
<a href="{% url 'products:index' %}">Look over our past work.</a>
{% endblock %}



{% block main_content %}
{% for product in products %}
<div class="item">
<a href="{% url 'products:detail' product.slug %}">
  <img class="thumbnail" src="{{ product.thumbnail.url }}" alt="{{ product.name }} Thumbnail"/>
  <div class="content">
    <h3 class="title">{{ product.name }}</h3>
    <div class="overview">
      {{ product.short_desc }}
    </div>
  </div>
</a>
</div>
{% endfor %}
{% endblock %}
